<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<pre>
     <%- JSON.stringify(apisData) %>
    <a href="<%= instagramUrl %>" target="_blank">Instagram auth</a>
    <a href="<%= slackUrl %>" target="_blank">Slack auth</a>
</pre>
</body>
</html>